<header
  class="max-w-[1000px] px-6 md:px-0 mx-auto md:w-11/12 mt-10 flex justify-between items-end"
>
  <img src="/images/logo.svg" alt="RJ" class="w-9" />
  <nav class="text-xl gap-11 hidden">
    <a href="/contact">Contact</a>
    <a href="/resume.pdf">Resume</a>
  </nav>
</header>
