---
import "@fontsource/ia-writer-quattro";
import "@fontsource/ibm-plex-sans/600.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rushabh Javeri - Full Stack Developer</title>
  </head>
  <body class="bg-script-100 font-body">
    <Header />
    <slot />
    <!-- <Footer /> -->
  </body>
</html>
